/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.detalhar-produto {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 200px;
  width: 1200px;
  height: 450px;
  background-color: #ffffff;

  border-right: 3px solid #F4F1F0;
  display: flex;
}

.detalhe-container {
  background-color: #F4F1F0;
  width: 600px;
}

.caixa-imagem {
  background-color: #ffffffff;
  width: 350px;
  height: 90%;
  margin-left: 170px;
}

.imagem-principal {
  width: 100%;
  height: 100%;
  padding: 40px 60px 20px 60px;
  margin: auto;
}

.detalhe-texto {
  width: 50%;
}

#titulo {
  margin-top: 40px;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  color:
    rgb(12, 12, 12);

  text-align: center;
}

#autor {
  margin-top: 10px;
  font-family: "Lato", "sans-serif";
  font-size: 20px;
  font-weight: 400;
  color: rgb(117, 149, 119);

  text-align: center;
}

#sinopse {
  text-align: left;
  text-indent: 30px;
  margin-top: 20px;
  padding: 25px;
  font-family: "Lato", "sans-serif";
  font-size: 17px;
  font-weight: 400;
  line-height: 1.6;
}

#preco {
  margin-top: 10px;
  font-family: "Lato", "sans-serif";
  font-size: 22px;
  font-weight: 400;
  color: #121212;

  text-align: center;
}

.botoes {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 100px;
  margin-left: 80px;
  margin-right: 50px;
  margin-bottom: 20px;
  background-color: #C7D6C4;
}

button {
  margin-top: 25px;
  padding: 12px 30px 12px 30px;
  font-size: 16px;
  background-color: #29473D;
  color: rgb(244, 241, 240);
  font-family: "Playfair Display", serif;
  border-radius: 5px;

  border: none;
}

button:hover {
  background-color: #A48847;
}

button i {
  margin-right: 5px;
}

.tabela-moderna {
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse;
  border-radius: 1px;
  overflow: hidden;
  background-color: #C7D6C4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.tabela-moderna thead {
  background-color: #C7D6C4;
}

.tabela-moderna th,
.tabela-moderna td {
  padding: 12px 16px;
  text-align: center;
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #121212;
  border-bottom: 1px solid #e0e0e0;
}

.tabela-moderna th {
  font-weight: 600;
  color: #444;
  letter-spacing: 0.5px;
}

.tabela-moderna tbody tr:hover {
  background-color: #f0f0f0;
  transition: background-color 0.2s ease-in-out;
}