@import url(/css-global/variable/variables.css);

.secao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin-top: 40px;
}

.secao-principal {
    margin-left: 60px;
}

.secao span {
    margin-top: 5px;
}

.titulo {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
}

.subtitulo {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-color);
}

.textos-carrosel {
    display: flex;
    flex-direction: column;
}